body {
    background-color: rgb(255, 255, 255);
}

img {
    max-width: 200px;
}


/* body {
    background-color: white;
} */


/* .table {
    width: 100%;
    padding: 10px;
    font-family: sans-serif;
    src: url('asset/font/Rockford Sans-Light.otf');
    text-align: center;
    background-color: red;
    color: red;
     
} */


/* th {
    background-color: #008000;
    color: white;
} */


/* img {
    max-width: 200px;
} */